/*Setting a elements to scroll smoothly in the page*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

/*Remove some default body settings and give some styling*/
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    background: linear-gradient(to right, black, #1F2833 40%, black);
}
