/*This is the styling of general elements such as body.*/

/*To remove the white gap on the right side of the page once minimize.
 Also to make scrolling smooth, and remove default body values.*/
html,body {
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    text-decoration: none;
    overflow-x:hidden;
    background-image: url(wallpaper.jpg); 
  }
