/*Building the project's section grid*/
#projectsSection {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    background-color: #0B0C10;
    border-top: 4px solid turquoise;
    border-bottom: 4px solid turquoise;   
}

/*Styling the projects' title background to have a shining animation*/
#projectTitle {
    text-align: center;
    flex-basis: 100%;
    padding-bottom: 50px;
    background: linear-gradient(to right,
        fuchsia 45%,
        azure 50%, fuchsia 55%,
        fuchsia 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(255, 255, 255, 0);
    background-size: 150%;
    animation: shine 2s infinite;    
    opacity: 0;
    transition: opacity 2s;
}

/*The animation that makes the title'My React Gems shine'*/
@keyframes shine {

    0% {
     background-position: 100%;
    }
     
    100% {
     background-position: -50%;
    }
    
}
      
/*Styling the font of the projects' title.*/  
#myWorkTitle {
    font-size: 3.5rem;
    font-weight: 500;
    font-family: cursive;
}  

/*The styling for the containers of the image and the description of a project*/
.myProjects {  
    position: relative;
    background: linear-gradient(to bottom right, black, #353d47, black, #353d47, black);
    height: 460px;
    width: 350px;
    float: center;
    box-shadow: 10px 10px 3px black;
    transition: transform 1s, opacity 2s;
    cursor: pointer;
    text-decoration: none;  
    opacity: 0;
    transition: opacity 2s;
    margin-bottom: 50px;
    max-width: 95%;
}

/*The picture of the project*/
.projectPic {
    height: 320px;
    width: 100%; 
}

#firstProjectDescription {
    position: absolute;
    background-color: rgb(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: turquoise;
    width: 100%;
    bottom: 140px;
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s;
}

#secondProjectDescription {
    position: absolute;
    background-color: rgb(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: turquoise;
    width: 100%;
    bottom: 140px;
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s;
}

#thirdProjectDescription {
    position: absolute;
    background-color: rgb(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: turquoise;
    width: 100%;
    bottom: 140px;
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s;
}

#fourthProjectDescription {
    position: absolute;
    background-color: rgb(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: turquoise;
    width: 100%;
    bottom: 140px;
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s;
}

.projectDescriptionParagraph {
    width : 80%;
    font-size: 1.3rem;
    text-decoration: none;
    color: turquoise;
}

.projectDescriptionParagraph:hover {
    text-decoration: none;
    color: turquoise;
}

/*The title of the Project*/
.projectName {
    color: magenta;
    margin-top: 30px;
    font-family: cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

#adminDashboard {
    font-size: 1.2rem;
}

.demoAndCode {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.liveAppCode {
    border: 2px solid turquoise;
    background-color: transparent;
    color: turquoise;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
    transition: font-size 0.2s;
}

.liveAppCode:focus { /* 1 */
    border: 2px solid turquoise;
    outline: none;
  }



@media (max-width: 499px){
        
    
    #myWorkTitle {
        font-size: 2.5rem;
    }

    .myProjects {
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }

    #project3 {
        width: 98%;
    }
}

@media (min-width: 500px) and (max-width: 1000px){
   
    #myWorkTitle {
        font-size: 3rem;
    }
}